.header {
    grid-area: h;
    background: red;
    padding: 5px;
}

.header img {
    height: 50px;
}

.loginBlock {
    float: right;
    margin: 10px 20px;

}
.loginBlock a {
    color: azure;
    text-decoration: none;
}